@import '../../../styles.mixins.scss';

.thumbnail-container {
    width: 400px;
    height: 253px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.thumbnail {
    cursor: pointer;
    width: 100%;
    margin-bottom:3px;
}

.top-bar {
    background-color: $main-color;
    border-radius: 3px;
}

.remove-button {
    margin-bottom: -35px;
    z-index: 100; 
    position: relative;

}

div.file-container {
    color: $main-color;
    font-size: 20px;
    background: $light;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

div.file-container:hover {
    background: lighten($light, 10%);
}

.file-icon {
    font-size: 70px;
    padding-top: 60px;
    padding-bottom: 20px;
}