<div>
    <div *ngFor="let message of feedback" class="message">
        <cx-form-text-area-input  [label]="getLabel(message)" [disabled]="true" [text]="message.message"></cx-form-text-area-input>
    </div>
    <div class="message">
        <cx-form-text-area-input label="Uusi viesti" [(text)]="newMessageText"></cx-form-text-area-input>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-8">
            <cx-button icon="fa-floppy-o" (action)="send()" text="Lähetä" [disabled]="sendDisabled()"></cx-button>
        </div>
    </div>
</div>