<cx-form-dropdown-input
  label="Partneri"
  [items]="partners"
  [value]="currentPartnerId"
  (valueChange)="currentPartnerUpdated($event)">
</cx-form-dropdown-input>

<div *ngIf="schema.get() | async; let schema">
  <div *ngFor="let group of schema.basicForm">
    <h3 *ngIf="group.groupName">{{group.groupName}}</h3>
    <div *ngFor="let item of group.items" [ngSwitch]="item.type">
      <div *ngIf="!item.showWhen || (item.showWhen.equals && ticket.data[item.showWhen.name] == item.showWhen.equals) || (item.showWhen.notEquals && ticket.data[item.showWhen.name] != item.showWhen.notEquals)">
      <cx-form-text-input *ngSwitchCase="'text'" [validate]="item.validator" [label]="item.label" [(text)]="ticket.data[item.name]" [format]="item.format"></cx-form-text-input>

      <cx-form-dropdown-input *ngSwitchCase="'dropdown'"
        [label]="item.label"
        [items]="item.options"
        [(value)]="ticket.data[item.name]">
      </cx-form-dropdown-input>

      <cx-form-text-area-input *ngSwitchCase="'textArea'" [label]="item.label" [(text)]="ticket.data[item.name]"></cx-form-text-area-input>
      <cx-form-date-input *ngSwitchCase="'date'" [label]="item.label" [(dateModel)]="ticket.data[item.name]"></cx-form-date-input>
    </div>
    </div>
  </div>
</div>

<cx-form-date-input *ngIf="ticket.created" label="Luotu" [disabled]="true" [(dateModel)]="ticket.created"></cx-form-date-input>
<cx-form-date-input *ngIf="ticket.lastModified" label="Muokattu" [disabled]="true" [(dateModel)]="ticket.created"></cx-form-date-input>

<cx-form-dropdown-input
  label="Valmis"
  [items]="readyTypes"
  [(value)]="ticket.ready">
</cx-form-dropdown-input>