@import '../../styles.mixins.scss';

.image-upload-wrap {
    cursor: pointer;
    border-color: #adadad;
    background-color: #e6e6e6;
    color: #333333;
    font-weight: lighter;
    width:150px;
    height:auto;
    border-radius:3px;
    padding: 10px;
}

.image-upload-wrap:hover {
    background-color:darken( #e6e6e6, 10%);
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.icon-default {
    color: $yellow;
    padding: 3px;
    margin-left: 10px;
}

.icon-ready {
    color: $green
}

.file-input-outer {
    margin-bottom: 30px;
}