<div>
    <div>
        <cx-tabs [routes]="tabs" *ngIf="tabs.length > 1"></cx-tabs>
        <div class="filter-row">
            <div class="filter-block">
                <cx-dropdown [items]="views" [(value)]="currentView">
                </cx-dropdown>
            </div>
            <div class="filter-block">
                <cx-ticket-filter></cx-ticket-filter>
            </div>
        </div>
        <cx-ticket-list *ngIf="currentView === 'list'" [tickets]="tickets" (openTicket)="openTicket($event)"></cx-ticket-list>
        <cx-ticket-calendar *ngIf="currentView === 'calendar'" [tickets]="tickets"></cx-ticket-calendar>
    </div>
</div>