<div>
    <div>
        <div class="filter-row">
            <div class="filter-block">
                <cx-dropdown [items]="views" [(value)]="currentView">
                </cx-dropdown>
            </div>
            <div class="filter-block">
                <cx-ticket-filter></cx-ticket-filter>
            </div>
        </div>
        <cx-ticket-list *ngIf="currentView === 'list'" [tickets]="tickets" [schema]="schema" (openTicket)="openTicket($event)"></cx-ticket-list>
        <cx-ticket-calendar *ngIf="currentView === 'calendar'" [tickets]="tickets"></cx-ticket-calendar>
    </div>
</div>