<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="fixhtml5mode" stopProcessing="true">
                    <match url=".*"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/app/" />
                </rule>            
            </rules>
        </rewrite>
    </system.webServer>
 </configuration>