@import '../../styles.mixins.scss';

.addon-text {
    background-color: lighten($dark, 10%);
    border-color: lighten($dark, 10%);
    margin-right: 10px;
    color: darken($main-color, 15%);
    font-weight: bold;
    min-width: 50px !important;
    max-width: 50px !important;
    width: 50px !important;
}

.input {
    width:100%;
    border-radius:2px;
    background-color:$light;
    border:2px;
    color:white;
    width: 100%
}

div {
    margin-top: 5px;
    width: 100%
}

input:disabled {
    background-color: lighten($dark, 10%);
    cursor: auto;
    color: $main-color
}

.dirty {
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: $yellow;
}

.copy:hover {
    cursor: pointer;
    background-color: lighten($dark, 15%);
}