<div class="input-group">
    <span *ngIf="headerIcon"  class="input-group-addon addon-text"><i class="fa" aria-hidden="true" [ngClass]="headerIcon"></i></span>
    <span *ngIf="headerText"  class="input-group-addon addon-text">{{headerText}}</span>
    <input type="text"
        [(ngModel)]="text"
        (keypress)="keyPress($event)"
        [maxlength]="maxlength"
        (input)="inputEvent($event)"
        class="form-control input"
        [class.dirty]="entry.isDirty"
        [disabled]="disabled"
        [placeholder]="placeholder"/>

    <span *ngIf="footerText" class="input-group-addon addon-text">{{footerText}}</span>
    <span *ngIf="clipboard" class="input-group-addon addon-text copy" (click)="copy($event)"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
</div>