<div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <div><a class="navbar-brand" routerLink="/customer/tickets/own">CARPAX</a>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/customer/tickets/own" [routerLinkActive]="['active']"><i class="fa fa-home fa-m"></i> Etusivu</a></li>
          <li><a routerLink="/customer/new" [routerLinkActive]="['active']"><i class="fa fa-file fa-m"></i> Uusi</a></li>
          <li><a routerLink="/customer/controlpanel" [routerLinkActive]="['active']"><i class="fa fa-cog fa-m"></i> Hallinta</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="" routerLink="/customer/login">
              <div class="navigation-current-user">
                {{user.name}} <br> {{user.customerName}}
              </div>
              <i class="fa fa-sign-out"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>