<div class="cx-row" *ngFor="let user of users" [class.dirty]="!!user.transient">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <cx-form-text-input-small *ngIf="user.transient !== 'delete'" headerIcon="fa-envelope-o" [(text)]="user.userName" [disabled]="user.transient !== 'new'"></cx-form-text-input-small>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12">
      <cx-button *ngIf="user.transient !== 'delete'" icon="fa-times" text="Poista" class="pull-right" (action)="delete(user)"></cx-button>
      <cx-button *ngIf="user.transient === 'delete'" icon="fa-undo" text="Palauta" class="pull-right" (action)="restore(user)"></cx-button>
    </div>
    <div class="input-group col-lg-4 col-md-4 col-xs-12 part-input">
    </div>
  </div>
</div>
<cx-button icon="fa-plus-circle" text="Lisää käyttäjä" (action)="addUser()"></cx-button>
<cx-button icon="fa-floppy-o" text="Tallenna" (action)="save()"></cx-button>