<div>
    <div *ngFor="let part of partRows" class="part-row" [class.dirty]="!!part.transient">
        <div *ngIf="part.transient !== 'delete'">
            <div class="row">
                <div class="col-sm-12 col-xs-12 visible-xs visible-sm">
                    <cx-button icon="fa-times" text="Poista" class="pull-right" (action)="delete(part)"></cx-button>
                    <cx-dropdown [items]="partStates" class="pull-right" theme="light"></cx-dropdown>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <cx-form-text-input-small headerIcon="fa-info-circle" [(text)]="part.description"></cx-form-text-input-small>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <cx-form-text-input-small headerText="Id" [(text)]="part.identifier"></cx-form-text-input-small>
                </div>
                <div class="col-lg-4 col-md-4 hidden-xs hidden-sm">
                    <cx-button icon="fa-times" text="Poista" class="pull-right" (action)="delete(part)"></cx-button>
                    <cx-dropdown [items]="partStates" class="pull-right" theme="light"></cx-dropdown>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <cx-form-text-input-small headerIcon="fa-ellipsis-h" [(text)]="part.amount" footerText="kpl" constraint="[0-9\.]"></cx-form-text-input-small>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <cx-form-text-input-small headerIcon="fa-credit-card" [(text)]="part.price" footerText="€/kpl" constraint="[0-9\.]"></cx-form-text-input-small>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <cx-form-text-input-small headerIcon="fa-level-down" [(text)]="part.discount" footerText="%" constraint="[0-9\.]"></cx-form-text-input-small>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <cx-form-text-input-small headerText="∑" footerText="€" [text]="calculatePartCost(part)" [disabled]="true"></cx-form-text-input-small>
                </div>
                <div class="input-group col-lg-4 col-md-4 col-xs-12">
                </div>
            </div>
        </div>
        <div *ngIf="part.transient === 'delete'">
            <div class="row">
                <div class="col-xs-12">
                    <cx-button icon="fa-undo" text="Palauta" class="pull-right" (action)="restore(part)"></cx-button>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let work of workRows" class="part-row" [class.dirty]="!!work.transient">
        <div *ngIf="work.transient !== 'delete'">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-8">
                    <cx-form-text-input-small headerText="..." footerText="TU" [(text)]="work.units" constraint="[0-9\.]"></cx-form-text-input-small>
                </div>
                <div class="col-sm-4 col-xs-4 visible-xs visible-sm">
                    <cx-button icon="fa-times" text="Poista" (action)="delete(work)" class="pull-right"></cx-button>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <cx-form-text-input-small headerIcon="fa-info-circle" [(text)]="work.description"></cx-form-text-input-small>
                </div>
                <div class="col-lg-4 col-md-4 hidden-xs hidden-sm">
                    <cx-button icon="fa-times" text="Poista" (action)="delete(work)" class="pull-right"></cx-button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <cx-form-text-input-small headerIcon="fa-credit-card" footerText="€" [(text)]="work.price" constraint="[0-9\.]"></cx-form-text-input-small>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <cx-form-text-input-small headerText="∑" footerText="€" [text]="calculateWorkCost(work)" [disabled]="true"></cx-form-text-input-small>
                </div>
                <div class="input-group col-lg-4 col-md-4 col-xs-12 part-input">
                </div>
            </div>
        </div>
        <div *ngIf="work.transient === 'delete'">
            <div class="row">
                <div class="col-xs-12">
                    <cx-button icon="fa-undo" text="Palauta" class="pull-right" (action)="restore(work)"></cx-button>
                </div>
            </div>
        </div>
    </div>

    <div class="part-row">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <cx-form-text-input-small headerText="∑" footerText="€" [text]="calculateTotal(work)" [disabled]="true"></cx-form-text-input-small>
            </div>
            <div class="input-group col-lg-4 col-md-4 col-xs-12 part-input">
            </div>
        </div>
    </div>

    <cx-button icon="fa-plus-circle" text="Lisää osarivi" (action)="addPartRow()"></cx-button>
    <cx-button icon="fa-plus-circle" text="Lisää työrivi" (action)="addWorkRow()"></cx-button>
    <cx-button icon="fa-floppy-o" text="Tallenna" (action)="save()"></cx-button>
</div>