@import '../../../styles.mixins.scss';

table {
    width:100%;
}

tr {
    height: 1.8em;
}

tr.mouseover {
    background-color: darken($light, 10%);
    cursor: pointer;
}

tr.ticketready {
    color: darken($main-color, 30%);
}

i.new-items-marker {
    color:lighten( red, 10%);
    padding-left: 5px;
    padding-right: 0px;
}