<div>
  <table>
    <tr>
      <th class="tableHeader"></th>
      <th class="tableHeader" *ngFor="let column of schema">{{column.label}}</th>
      <th class="tableHeader visible-lg visible-md">Kumppani</th>
    </tr>
    <tr
      *ngFor="let ticket of ticketsWithNotifications | async"
      [class.mouseover]="ticket.hover"
      [class.ticketready]="ticket.ready"
      (mouseenter)="ticket.hover=true"
      (mouseleave)="ticket.hover=false"
      (click)="openTicketClick(ticket)"
    >
      <td><i class="fa fa-exclamation new-items-marker" aria-hidden="true" *ngIf="ticket.hasNotification"></i></td>
      <td
        *ngFor="let column of schema"
        ng-class="{nonActiveTicket: ticket.ready}"
      >
      {{ ticket.data[column.name] }}
      </td>
      <td ng-class="{nonActiveTicket: ticket.ready}" class="visible-lg visible-md">{{ ticket.partner }}</td>
    </tr>
  </table>
</div>