<div class="login">
    <h1>Vaihda / Aseta salasana</h1>
    <form class="form-horizontal" role="form" name="resetPasswordForm">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="password">Käyttäjätunnus</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="userName" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="password">Asiakkuus</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="customerName" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="password">Uusi salasana</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="newPassword">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="passwordAgain">Salasana uudelleen</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="newPasswordAgain">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="passwordResetButton"></label>
            <div class="col-sm-8">
              <button class="btn btn-default" id="passwordResetButton" (click)="resetPassword()" [disabled]="!isValid()">
                <i class="fa fa-user fa-lg"></i> Jatka
                </button>
            </div>
        </div>
    </form>
</div>