@import '../../../styles.mixins.scss';

div.login {
    margin:auto;
    width: 60%;
    clear: both;
    padding: 30px;

    @media (max-width: 500px) {
        width: 100% !important
    }
}

div.login div {
    margin-bottom: 7px;
}

.form-control {
    width:100%;
    border-radius:2px;
    background-color:$light;
    border:2px;
    color:white;
}

.eula-checkbox {
    width: 20px;
}

.form-control:disabled {
    background-color:darken($light, 10%);
    border:2px;
    color:darken($white-text, 40%);
    cursor: auto;
}