@import '../../../styles.mixins.scss';

h2.partnerNameLogin {
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 10px;
  color: #bfbfbf;
}

div.login {
    margin:auto;
    width: 40%;
    clear: both;
    padding: 30px;

    @media (max-width: 500px) {
        width: 100% !important
    }
}

div.login div {
    margin-bottom: 15px;
}

.form-control {
    width:100%;
    border-radius:2px;
    background-color:$light;
    border:2px;
    color:white;
}