@import '../../styles.mixins.scss';

button.btn {
    border-radius: 3px !important;
}

.dropdown-menu {
    cursor: pointer;
    min-width: 50px;
}

.dropdown-menu > li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.light {
    .dropdown-menu > li > a {
        color: $dark !important;
    }
}

.dark {
    button.btn, button.btn:focus {
        background-color: darken($light, 5%);
        border-color: $dark;
        color: $white-text;
    }

    button.btn:hover {
        background-color: darken($light, 2%);
        color: $white-text;
    }

    .dropdown-menu > li > a:hover {
        background-color: $light
    }
    .dropdown-menu {
        background-color: lighten($dark, 12%);
    }
}

.dirty {
    border-width: 0 0 0 4px !important;
    border-style: solid !important;
    border-color: $yellow !important;
}