<div class="btn-group">
  <div class="dropdown" [className]="theme">
    <button type="button" class="btn btn-default" data-toggle="dropdown" [class.dirty]="dirty" [ngClass]="getColor()">
      <span *ngIf="!headerIcon"> {{ getHeaderText() }} </span>
      <i *ngIf="headerIcon" class="fa {{headerIcon}}" aria-hidden="true"></i>
      <span class="caret"></span>
  </button>
    <ul class="dropdown-menu" role="menu">
      <li *ngFor="let item of items" (click)="dropdownClick(item)">
        <a *ngIf="item.text">{{item.text}}</a>
        <a *ngIf="item.icon"><i class="fa {{item.icon}}" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</div>