@import './styles.mixins.scss';

body{
    background: url('./assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
	color:$main-color;
	font-size:1.0em;
	background:$dark;
    opacity: 0.85;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
    margin-top: 3%;
    min-height:90vh;
}

.pageHeader {
    border-radius:2px;
    color:$white-text;
    padding:10px;
    width: 100%;
    clear: both;
}

div.notifications {
    padding:10px;
}

.alert-info {
    background-color:$light;
    color: $main-color;
    border-color:$main-color;
}

a
{
    color:darken($main-color, 25%) !important;
    text-decoration:none;
}

a:hover
{
  text-decoration:none;
  color:$main-color !important;
}

a:active
{
  text-decoration:none;
  color:$main-color !important;
}

input.ng-invalid {
  border: 1px solid red;
  background-color: #5f0000;
}

th.tableHeader {
    border-bottom: 2px solid $light;
}

img.login-image {
    width: 30px;
    margin-bottom: -10px;
    margin-top: -10px;
}

div.email {
    font-size: 0.7em;
    margin-top: -10px;
    padding:0;
    margin-bottom: -10px;
}

i.logo {
    color: lighten($light, 40%);
    padding-right:10px;
    text-shadow: 0 0 3px black;
}

i.logo-text {
    color: lighten($light, 40%);
}

#loading-bar .bar { 
   background: darken($main-color, 10%) !important; 
 } 

#loading-bar-spinner .spinner-icon { 
   border-top-color:  darken($main-color, 10%) !important; 
   border-left-color: darken($main-color, 10%) !important; 
}

#loading-bar .peg { 
  -moz-box-shadow: darken($main-color, 10%) 1px 0 6px 1px; 
  -ms-box-shadow: darken($main-color, 10%) 1px 0 6px 1px; 
  -webkit-box-shadow: darken($main-color, 10%) 1px 0 6px 1px; 
  box-shadow: darken($main-color, 10%) 1px 0 6px 1px; 
}

div.login {
    margin:auto;
    width: 50%;
    clear: both;
    padding: 30px;

    @media (max-width: 500px) {
        width: 100% !important
    }
}

button.custom-btn-dark, button.custom-btn-dark:focus {
    background-color: darken($light, 5%);
    color: $white-text;
    margin-left: 5px
}

button.custom-btn-dark:hover {
    background-color: darken($light, 2%);
    color: $white-text;
}

div.history-column {
    background-color: $light;
    border-radius: 3px;
    border-width: 3px;
    border-color: $dark;
    color: $main-color;
    padding: 6px;
}

div.row > div.old-value {
    background-color: darken(#f2dede, 50%);
}

div.row > div.new-value {
    background-color: darken(#dff0d8, 50%);
}

div.row > div.header {
    font-weight: bold;
    color: darken($main-color, 20%);
    background-color: darken($light, 10%);
    margin-top: 20px;
}

div.user-row {
    margin: 8px;
}

label.textbox-label {
    color: darken($main-color, 30%);
    font-size: 80%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.noty_type_error {
    background-color:darken(#f2dede, 40%);
}

[ui-view].ng-enter, [ng-include].ng-enter {
  -webkit-transition:opacity 0.5s;
  transition:opacity 0.6s;
}

[ui-view].ng-enter, [ng-include].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active, [ng-include].ng-enter-active {
  opacity: 1;
}

a.navbar-brand {
    font-weight: 600;
    font-stretch: narrower;
}

h2.partnerNameLogin {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 10px;
    color:darken($main-color, 25%);
}

i.new-items-marker {
    color:lighten( red, 10%);
    padding-left: 5px;
    padding-right: 0px;
}

div.navigation-current-user {
    float: left !important;
    margin-top: -10px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    margin-right: 15px;
}

.fc-state-highlight {
    background-color: darken($light, 10%) !important;
}

.fc th, .fc td {
    border-width: 1px !important;
    border-color: $light !important;
}

.fc th {
    background-color: $light;
}

.fc-left h2 {
    //color: lighten($light, 10%);
    font-size: 1.5em !important;
}

a.fc-event  {
    background-color: #449d44;
    border-color: #398439;
    color: white;
    font-weight: 700
}

.fc-event-nonready {
    background-color:$yellow;
    border-color: $yellow;
}

span.fc-title {
    color: white;
}

button.fc-button {
    background-color: darken($light, 5%) !important;
    color: $white-text !important;
    background-image: none !important;
    border: 0 !important;
    text-shadow: none;
    box-shadow: none;
}

router-outlet ~ * > div, router-outlet ~ * > * > div, router-outlet ~ * > * > button {
    animation-duration: 1s;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}